//公共样式
body {
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

#header{
  height: 200px;
  background-color: #f0f0f0;
}

//测试样式区域
section{
  height: 200px;
  background-color: #fff;
  &:nth-of-type(2n){
    background-color: #f5f5f5;
  }
}

